.storelist{
  display: contents;
}

.store-list {
  display: inline-block;
  padding: 1em;
}

.store-name {
  background-color: #e83f39;
  color: white;
  padding: 0.4em;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.list-contents {
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 10px;
}

.list-hidden{
  overflow: hidden!important;
  animation: hide 2s ease-in-out;
  height: 0%!important;
}

.list-displayed{
  overflow: hidden!important;
  animation: show 2s ease-in-out;
  height: 100%!important;
}

@keyframes hide{
  from{
    height: 100%;
  }
  to{
    height: 0%;
  }
}

@keyframes show{
  from{
    height: 0%;
  }
  to{
    height: 100%;
  }
}