.col,
.col-7,
.row {
  margin: 0 !important;
  padding: 0 !important;
}

.product {
  color: #245a2f;
  font-size: 0.8em;
  padding: 10px 0 0 0 !important;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #245a2f4b;
  width: calc(100%);
}

.icons {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 2em;
  cursor: pointer;
}
.iconsChosen {
  position: absolute;
  top: 10px;
  right: 65px;
  font-size: 2em;
  cursor: pointer;
}

.add {
  display: inline-block;
  color: #66c46c;
  padding-right: 5px;
}

.remove {
  display: inline-block;
  position: relative;
  color: #245a2f;
}

.delete {
  font-size: 1.8em;
  color: #245a2f;
}

.product-name {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.1em;
}

.product-brand {
  font-size: 1em;
  font-weight: 400;
}

.product-image {
  margin: 0 0 0 4%;
  background-position: 0px -5px;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.price-text {
  font-size: 1.5em;
  font-weight: 500;
}

.comparison-text {
  font-weight: 500;
}

.comparison-price {
  margin: 5px 0 2px 0 !important;
}
.amount {
  font-weight: 400;
  font-size: 1.2em;
  padding: 3px;
}

// On screens that are 1200px or less
@media screen and (max-width: 1200px) {
  .icons {
    font-size: 2.2em;
    top: 48px;
    left: 0px;
  }
  .product-image {
    background-position: 0px 0px;
    background-size: 85%;
  }
}

// On screens that are 992px or less
@media screen and (max-width: 992px) {
  .product {
    padding: 15px 0 0 0 !important;
  }
  .icons {
    display: inline-block;
    top: 0px;
    left: -10px;
  }
  .product-image {
    background-position: 40px -10px;
    background-size: 65%;
  }
  .add {
    display: block;
    padding: 0;
  }
  .right-icons {
    padding-left: 30px;
  }
}

// On screens that are 767px or less
@media screen and (max-width: 767px) {
  .icons {
    top: -5px;
  }
  .product-image {
    background-position: 28px 0px;
    background-size: 68%;
  }
  .comparison-price {
    margin: 3px 0 0 0 !important;
  }
  .right-icons {
    padding-left: 0px;
  }
}
