.input-edit {
  width: 100px !important;
  height: 20px !important;
  border: 1px solid rgb(133, 207, 164) !important;
  border-radius: 25px !important;
}
.input-edit-quantity {
  width: 50px !important;
  height: 20px !important;
    border: 1px solid rgb(133, 207, 164) !important;
  border-radius: 25px !important;
}
.input-edit-quantity-type {
  width: 50px !important;
  height: 20px !important;
    border: 1px solid rgb(133, 207, 164) !important;
  border-radius: 25px !important;
}
.ecological-button {
  align-items: center;
  height: 2.5vh !important;
  width: 30px;
  border-radius: 25px !important;
  border: #66c46c solid 1px !important;
  font-size: 14px !important;
}
.ecological-text {
  font-size: 14px;
}
.eco-span {
  position: relative;
  top: -11px;
  left: -5px;
  font-size: 20px !important;
}
