/* .product {
  display: grid;
  width: 100%;
  grid-template-areas:
    "image name delete"
    "image itemprice delete"
    "image comparison-price comparison-price";
  grid-template-columns: auto 65% 8%;
  grid-template-rows: auto auto auto;
  padding: 0.3em;
  color: #245a2f;
  font-size: 0.8em;
}

.divider {
  border-bottom: 1px solid #245a2f4b;
  width: calc(250%);
  margin: 0 55px;
}

.icons {
  position: relative;
  display: inline-block;
  font-size: 2.5em;
}

.add {
  position: absolute;
  top: 90px;
  left: 40px;
  color: #66c46c;
  stroke: 5px solid white;
  transform: translate(-50%, -50%);
}

.remove {
  position: absolute;
  top: 60px;
  left: 60px;
  color: #245a2f;
  stroke: 5px solid white;
}

.product-name {
  margin-top: 15px;
  grid-area: name;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.5em;
}

.product-brand {
  font-size: 0.8em;
  font-weight: 400;
}

.product-image {
  grid-area: image;
  margin-left: 10px;
  background-position: 0px -10px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-price {
  grid-area: itemprice;
  margin-left: 10px;
}

.price-text {
  font-size: 1.5em;
  font-weight: 500;
}

.comparison-text {
  font-weight: 500;
}

.comparison-price {
  grid-area: comparison-price;
  margin-left: 10px;
  margin-bottom: 15px;
}

.delete {
  font-size: 2.5em;
  grid-area: delete;
}
 */

.col,
.col-7,
.row {
  margin: 0 !important;
  padding: 0 !important;
}

.product {
  color: #245a2f;
  font-size: 0.8em;
  padding: 10px 0 0 0 !important;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #245a2f4b;
  width: calc(100%);
}

.icons {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 2em;
  cursor: pointer;
}

.add {
  display: inline-block;
  color: #66c46c;
  padding-right: 5px;
}

.remove {
  display: inline-block;
  position: relative;
  color: #245a2f;
}

.delete {
  font-size: 1.8em;
  color: #245a2f;
}

.product-name {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.1em;
}

.product-brand {
  font-size: 1em;
  font-weight: 400;
}

.product-image {
  margin: 0 0 0 4%;
  background-position: 0px -5px;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 0 !important;
}

.price-text {
  font-size: 1.5em;
  font-weight: 500;
}

.comparison-text {
  font-weight: 500;
}

.comparison-price {
  margin: 5px 0 2px 0 !important;
}
.amount {
  font-weight: 400;
  font-size: 1.2em;
  padding: 3px;
  
}
