@import "./matjakt-searchbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  flex-direction: column !important;
}
.matjatkDarkGreen-bg {
  background-color: #245a2f;
}
.matjatkDarkGreen-text {
  color: #245a2f;
}
.matjaktRed-bg {
  background-color: #e83f39;
}
.matJaktLightGreen-bg {
  background-color: #66c46c;
}
.matJaktLightGreen-text {
  color: #66c46c;
}
.matjaktLightPurple-bg {
  background-color: #743ebb;
}
.matjaktWhite-bg {
  background-color: #ffffff;
}
.matjaktWhite-text {
  color: #ffffff;
}
.matjakt-inputfield{
  background-color: rgb(255, 255, 255)!important;
}
.oblique{
  font-style: oblique;
}