* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex !important;
  min-height: 100vh !important;
  min-width: 100vw !important;
  flex-direction: column !important;
}

